<%- include('./partials/head') %>
  <title>
    <%= title %>
  </title>
  </head>

  <body>
    <main>
      <h1>471 Databases Project 5 Website</h1>
    <a href="/employees/all">Employees</a><br>
    <a href="/dependents/all">Dependents</a>
    
  </main>
  </body>
  </html>